body{font-family:"Calibri"; font-size:13px; color:#333;}


body
{
background-color:#f3f1d0;
}
  /*   --------- top nav area  ---------- */
ul li{
list-style-type: none;
font-size:16px;
text-align: center;
margin-left:-40px;
}

#user_name input{
width:120px;
position:relative;
top:-70px;
left:530px;
}

#password input{
width:120px;
position:relative;
top:-86px;
left:540px;

}
 /*   ---------------- 3 landing page buttons -------------- */
.btn {
position:relative;
top:-119px;
left:560px;
padding: 1px 20px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 1px solid #1f5d9b;

 background: -moz-linear-gradient(
		top,
		#00a300 0%,
		#99eb99);
background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a300),
		to(#99eb99));
		
  font-family: Calibri, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(000,000,000,0.7);
  text-decoration: none;
}

.btn:hover {

background: -moz-linear-gradient(
		top,
		#99eb99 0%,
		#00a300);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#99eb99),
		to(#00a300));
}

.join_btn {
position:relative;
top:240px;
left:340px;
padding: 5px 80px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 1px solid #1f5d9b;

 background: -moz-linear-gradient(
		top,
		#00a300 0%,
		#99eb99);
background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a300),
		to(#99eb99));
		
  font-family: Calibri, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(000,000,000,0.7);
  text-decoration: none;
}

.join_btn:hover {

background: -moz-linear-gradient(
		top,
		#99eb99 0%,
		#00a300);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#99eb99),
		to(#00a300));
}

.out_btn {
position:relative;
top:-70px;
left:840px;
padding: 1px 20px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 1px solid #1f5d9b;

 background: -moz-linear-gradient(
		top,
		#00a300 0%,
		#99eb99);
background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a300),
		to(#99eb99));
		
  font-family: Calibri, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(000,000,000,0.7);
  text-decoration: none;
}

.out_btn:hover {

background: -moz-linear-gradient(
		top,
		#99eb99 0%,
		#00a300);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#99eb99),
		to(#00a300));
}

.account{
	position:relative;
	top:-70px;
	left:640px;
}

#logo li{
list-style-type: none;
}

h1{font-size:32px;}

h2{ 
	color:#fff; 
	font-size:38px;}

#logo{
	float:left;
	clear:left;
	margin-left:20px;
	margin-top:-45px;
}

#features{
text-align: center;
clear:left;
margin-left:20px;
float:left;
background:#d0cd99;
width:300px;
height:300px;


}

#testimonials{
text-align: center;
margin-left:20px;
float:left;
background:#d0cd99;
width:300px;
height:300px;

}

#cta{
margin-left:20px;
float:left;
width:280px;
height:500px;

}

#cta h1{
	text-align: center;
	margin-top:-150px;
}

#cta h4{
	text-align: center;
	font-size:28px;
}


#features h2{
	text-align: center;
	margin-top:10px;

}

#testimonials h2{
	text-align: center;
	margin-top:10px;

}

#testimonials li{


}

input{margin-top:2px; text-align:left; float:left; background:white; border:1px solid #333; color:#333; padding:5px; width:200px;}

#projects, #tasks, #contacts{
text-align: center;
margin-left:200px;
float:left;
background:#d0cd99;
width:600px;
height:45px;
font-size:28px;
margin-top:10px;
text-decoration: none;
}

.projects{     /*-----------class of projects in template_project_1  */
text-align: center;
margin-left:200px;
float:left;
background:#d0cd99;
width:600px;
height:45px;
font-size:28px;
margin-top:-100px;
text-decoration: none;
}

.projects h2{
	color:#000; 
	font-size:38px;
	margin: auto;

}

h3{
	color:#000; 
	font-size:38px;
	margin-top:-20px;
	margin-left:40px;
}

#project_blank, #task_blank, #contact_blank{
text-align: center;
margin-left:200px;
float:left;
background:#d0cd99;
width:600px;
height:45px;
font-size:18px;
margin-top:10px;
text-decoration: none;
}
#project_blank li, #task_blank li, #contact_blank li{
list-style-type: none;

}
#project_blank img, #task_blank img, #contact_blank img{
	position:relative;
	top:-53px;
	left:280px;
}

.add_btn{
position:relative;
	top:-33px;
	left:-80px;
}

#cta form{
	position:relative;
	top:40px;
	left:37px;

}

#menu li{
list-style-type: none;
}